
    t.string   "status"
    t.string   "open_date"
    t.string   "close_date"
    t.string   "add_info"

<div class="w3-row-padding w3-responsive" style="overflow-x:auto">
    <form action="/cases/<%=@case.id%>" method="post">
    <input type="hidden" name="_method" value="patch">
    
    <label class="w3-panel">Status: </label>
    <select name="kase[status]" value="<%=@case.status%>">
        <option selected="selected" value="Open">Open</option>
        <option value="Closed">Closed</option>
        <option value="Open">N/A</option>
    </select>

    <label class="w3-panel">Open Date: </label>
    <input type="date" name="kase[open_date]" value=<%=@case.open_date%>>

    <label class="w3-panel">Close Date: </label>
    <input type="date" name="kase[close_date]" value=<%= @case.close_date%>>

    <label class="w3-panel">Additional Info: </label>
    <textarea name="kase[add_info]"><%=@case.add_info%></textarea>
    <p></p>

    <button class="w3-button w3-yellow w3-padding-large w3-large w3-margin-top" type="submit">
    Update Case
    </button>

</div>