<div class="w3-main" style="margin-left:40px;margin-top:43px;">

  <!-- Header -->
  <header class="w3-container" style="padding-top:22px">
    <h5><b><i class="fa fa-dashboard"></i> My Dashboard</b></h5>
  </header>

<div class="w3-row-padding w3-responsive">
  <div class="w3-cell-row">
    <div class="w3-third">
      <table class="w3-table-all w3-border">
      <tr>
        <td><h5>Name </h5></td>
        <td><h5><%=@client.name%></h5></td>
      </tr>

      <tr><td><h5>Id </h5></td><td><h5><%=@case.id%></h5></td></tr>
      <tr><td><h5>Status </h5></td><td><h5><%=@case.status%></h5></td></tr>
      <tr><td><h5>Open Date </h5></td><td><h5><%=@case.open_date%></h5></td></tr>
      <tr><td><h5>Close Date </h5></td><td><h5><%=@case.close_date%></h5></td></tr>
      </table>
    </div>
    <div class="w3-twothird">
    <table class=" w3-table-all w3-border">
      <thead>
        <th>Date </th>
        <th>Owner </th>
        <th>Title </th>
      </thead>
      <tbody>
        <%@notes_ordered.each do |note|%>
        <tr>
            <td><%=note.created_at%></td>
            <td><%=User.find(note.owner).username%></td>
            <td><a href="/notes/<%=note.id%>"><%=note.title%></a></td>
        </tr>
        <%end%>
    </tbody>
    </table>
    </div>
  </div>
  </div>
    <div class="w3-twothird">
    <label class="w3-panel">Additional Info</label>
    <textarea class="w3-twothird"><%=@client.add_info%></textarea>
    </div>
  
  <div class="w3-bar">

  <a href="clients/<%=@client.id%>" class="w3-button w3-orange w3-padding-large w3-large w3-margin-top">
  Go Back
  </a>
  <a href="/cases/<%=@case.id%>/edit" class="w3-button w3-yellow w3-padding-large w3-large w3-margin-top">
  Edit Case
  </a>
  <a href="cases/notes/new" class="w3-button w3-green w3-padding-large w3-large w3-margin-top">
  Add Note
  </a>

  </div>

  </div>
  </div>
</div>
        
